<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>E-Learning resource locator</title>
</head>
<body bgcolor="#d2691e">
            {# <center>{% include 'home.html' %}</center> #}
                <fieldset style="padding: 3px; width: 15%;">
                    <legend><FONT COLOR="#ffd700" Face='verdana' size='2'><B>Admin Home</B></FONT></Legend>
                    <table align="right" border="0" bgcolor="#ffd700">
                        <tr><td bgcolor="#adff2f"><a href="/addfaculty/" style="text-decoration: none">Add Faculty</a></td></tr>
                        <tr><td bgcolor="#adff2f"><a href="/viewmessage/" style="text-decoration: none">View Messages</a></td></tr>
                        <tr><td bgcolor="#adff2f"><a href="/viewall/" style="text-decoration: none">View Students</a></td></tr>
                        <tr><td bgcolor="#adff2f"><a href="/testreport/" style="text-decoration: none">Student Test History</a></td></tr>
                        <tr><td bgcolor="#adff2f"><a href="/teststatus/" style="text-decoration: none">Student Status</a></td></tr>
                        <tr><td bgcolor="#adff2f"><a href="/changepass/" style="text-decoration: none">ChangePassword</a></td></tr>
                        <tr><td bgcolor="#adff2f"><a href="/admin_logout/" style="text-decoration: none">Logout</a></td></tr>
                    </table>
                </fieldset>
            {# <p align="center"><font size="5" color="#7fffd4" face="sitka text">Welcome to E-Learning Resource Locator</font></p> #}
</body>
</html>
