<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <title>E-Learning resource locator</title>
</head>
<body bgcolor="#d2691e">
<table align="center">
    <img src="{% static 'images/assesment analyst1.jpg' %}" width="800" height="140"; style="width: 90%; padding-left: 1px; padding-top: -2px;" ALIGN="CENTER">
</table>
<br>
<br>
<br>
<center><font size="5">Login failed, Please provide valid Email_Id & Password
    <br>
    <br>
<a href="/home/">Login</a>
</font></center>
</body>
</html>

