<center>{% include 'home.html' %}</center>
            {% include 'body.html' %}
<center>
<form action="/statustest/" method="post">
    {% csrf_token %}
    <h3>Student Test Report</h3>
    <table border="2">
        <tr>
            <td>Email:<select name="email" required>
                <option >select</option>
                  {% for x in res %}
                      <option value="{{ x.emailid }}">{{ x.emailid }}</option>
                {% endfor %}
            </select></td>
        </tr>
    <tr>
        <td>Subject:<select name="subject" required>
            <option value="ASP">ASP</option>
            <option value="Java">Java</option>
            <option value="Visualbasic6.0">Visualbasic6.0</option>
            <option value="C">C</option>
            <option value="C++">C++</option>
        </select></td>
    </tr>
        <tr>
            <td>Exam_Type:<select name="exam" required>
                <option value="Negative">Negative</option>
                <option value="Non-negative">Non-negative</option>
            </select></td>
        </tr>
    <tr><th><button type="submit">Fetch</button></th></tr>
    </table>
</form>
</center>
