{#{% include 'loginsuccess.html' %}#}


<body bgcolor="#d2691e">
<center>{% include 'home.html' %}</center>
{#<fieldset style="padding: 3px; width: 15%;">#}
{#    <legend><FONT COLOR="#ffd700" Face='verdana' size='2'><B>Student Home</B></FONT></Legend>#}
{#<table align="right" border="0" bgcolor="#ffd700">#}
{#        {% for x in res %}#}
{#        <tr><td bgcolor="#adff2f"><a href="/viewfaculty/" style="text-decoration: none">ViewLectures</a></td></tr>#}
{#        <tr><td bgcolor="#adff2f"><a href="//" style="text-decoration: none">ViewVideos</a></td></tr>#}
{#        <tr><td bgcolor="#adff2f"><a href="//" style="text-decoration: none">Exam</a></td></tr>#}
{#        <tr><td bgcolor="#adff2f"><a href="//" style="text-decoration: none">Exam(Negative Marking)</a></td></tr>#}
{#        <tr><td bgcolor="#adff2f"><a href="//" style="text-decoration: none">ExamResults</a></td></tr>#}
{#        <tr><td bgcolor="#adff2f"><a href="/viewstudent/?name={{ x.name }}" style="text-decoration: none">ViewStudentProfile</a></td></tr>#}
{#            <tr><td bgcolor="#adff2f"><a href="/editprofile{{ x.emailid }}/" style="text-decoration: none">EditStudentProfile</a></td></tr>#}
{#            <tr><td bgcolor="#adff2f"><a href="/editprofile/?name={{ x.name }}&emailid={{ x.emailid }}&password={{ x.password }}&gender={{ x.gender }}&contact_no={{ x.contact_no }}&qualification={{ x.qualification }}&course={{ x.course }}&experience={{ x.experience }}&address={{ x.address }}" style="text-decoration: none">EditStudentProfile</a></td></tr>#}
{#        <tr><td bgcolor="#adff2f"><a href="//" style="text-decoration: none">ViewStatus</a></td></tr>#}
{#        <tr><td bgcolor="#adff2f"><a href="//" style="text-decoration: none">Postquestion</a></td></tr>#}
{#        <tr><td bgcolor="#adff2f"><a href="/passupdate/?email={{ x.emailid }}" style="text-decoration: none">UpdatePassword</a></td></tr>#}
{#        <tr><td bgcolor="#adff2f"><a href="//" style="text-decoration: none">ExamReports</a></td></tr>#}
{#        <tr><td bgcolor="#adff2f"><a href="/admin_logout/" style="text-decoration: none">LogOut</a></td></tr>#}
{#        {% endfor %}#}
{#    </table>#}
{#</fieldset>#}

<form method="post">
    {% csrf_token %}
<table align="center">
    <tr>
        <td>{{ form }}</td>
    </tr>
    <tr>
        <th align="center">
            <button type="submit">Update</button>
        </th>
    </tr>
</table>
</form>